# Explorar a Camada Bronze

Analisar os dados na camada bronze para compreender o cenário e identificar as transformações necessárias para criar a camada Silver

## Importar bibliotecar

In [1]:
import ipywidgets as widgets
import matplotlib.pyplot as plt
import pyspark.pandas as ps
import seaborn as sns

from matplotlib import dates
#
# Nome da aplicação Spark
#
APP_NAME="ExplorarBronze"
ps.options.display.max_rows = 10

/usr/local/spark/python/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

## Inicializar Spark e definir funções de apoio

In [2]:
%run StartSpark.ipynb

## Carregar as tabelas da camada Bronze

In [3]:
_ = loadAndRegister("stocks", "StockData", "bronze")

## Listar as tabelas e mostrar algumas informações sobre os dados

Lista de tabelas.

In [4]:
%%sql_display
show tables

  namespace      tableName  isTemporary
0            bronze_stocks        False

Quantidade de linhas por tipo de ação e tipo de operação

In [5]:
%%sql_display
select 
    ticker,
    __op,
    count(*) as qtd
from bronze_stocks
group by all
order by ticker, __op

   ticker __op    qtd
0    AAPL    c  22233
1    AAPL    r    810
2    AMZN    c  21660
3    AMZN    r    810
4    GOOG    c  20128
5    GOOG    r    795
6    MSFT    c  19842
7    MSFT    r    783
8      NU    c  19599
9      NU    r    753
10   TSLA    c  21954
11   TSLA    r    794

Quantidade de entradas por ação

In [6]:
%%time
%%sql_display 
select 
    ticker,
    count(*) as qtd
from bronze_stocks
group by all
order by ticker

CPU times: user 9.52 ms, sys: 0 ns, total: 9.52 ms
Wall time: 1.61 s

  ticker    qtd
0   AAPL  23043
1   AMZN  22470
2   GOOG  20923
3   MSFT  20625
4     NU  20352
5   TSLA  22748

## Gerar um gráfico de variação no valor das ações

Primeiramente definimos a query

In [7]:
df = %sql select ticker, timestamp - interval 3 hours as timestamp, close, volume from bronze_stocks where timestamp >= current_timestamp - interval 24 hours order by ticker, timestamp

Definição dos elementos da toolbar

In [8]:
ticker = widgets.Dropdown(
    options=["AAPL", "AMZN", "GOOG", "MSFT", "TSLA", "NU"],
    value="AAPL",
    description="Stock:",
    disabled=False,
)

button = widgets.Button(
    description='Refresh',
    disabled=False,
    button_style='', # 'success', 'info', 'warning', 'danger' or ''
    tooltip='Refresh Charts',
    icon='arrows-rotate' # (FontAwesome names without the `fa-` prefix)
)

Funções para plotar os gráficos

In [9]:
def plotTickerValue(ticker):
    _df = df.toPandas()
    colors = sns.color_palette('pastel')[0:5]
    
    sns.set_style("ticks",{'axes.grid' : True})

    _, ax = plt.subplots()

    g = sns.lineplot(_df[_df.ticker == ticker], x="timestamp", y="close", ax=ax)
    _ = g.tick_params(axis="x", rotation=45) 
    _ = plt.title(f"Variação no Valor das Ações da {ticker}")
    _ = ax.xaxis.set_major_formatter(dates.DateFormatter("%y-%m-%d %H:%M"))

def plotTickerVolume(ticker):
    _df = df.toPandas()
    colors = sns.color_palette('pastel')[0:5]
    
    sns.set_style("ticks",{'axes.grid' : True})

    _, ax = plt.subplots()
    g = sns.lineplot(_df[_df.ticker == ticker], x="timestamp", y="volume", ax=ax)
    _ = g.tick_params(axis="x", rotation=45) 
    _ = plt.title(f"Variação no Volume Negociado da {ticker}")
    _ = ax.xaxis.set_major_formatter(dates.DateFormatter("%y-%m-%d %H:%M"))

### Renderizar a inteface definida

In [10]:
toolbar = widgets.HBox([ticker, button])
w1 = widgets.interactive_output(plotTickerValue, {"ticker": ticker})
w2 = widgets.interactive_output(plotTickerVolume, {"ticker": ticker})
ui = widgets.HBox([w1, w2])
display(toolbar, ui)

def refresh(b):
    # plotTickerValue(ticker.value)
    # plotTickerVolume(ticker.value)
    display(toolbar, ui)

button.on_click(refresh)

HBox(children=(Dropdown(description='Stock:', options=('AAPL', 'AMZN', 'GOOG', 'MSFT', 'TSLA', 'NU'), value='A…

HBox(children=(Output(), Output()))

## Preparar transformações para a camada Silver

Apresentar uma amostragem dos dados

In [11]:
%%sql_display
select * 
from bronze_stocks
order by ticker, timestamp

,_id,ticker,description,timestamp,open,high,low,close,volume,__op,__collection,__ts_ms
0,65df36b58327c289d0a4d9a1,AAPL,,2024-02-01 14:30:00,183.666595,184.086105,183.606705,183.986206,35940,r,stocks,1709129206064
1,65df36b58327c289d0a4d9a2,AAPL,,2024-02-01 14:31:00,184.051102,184.180893,183.796402,184.006195,12306,r,stocks,1709129206064
2,65df36b58327c289d0a4d9a3,AAPL,,2024-02-01 14:32:00,183.966202,184.615402,183.806396,184.395706,10555,r,stocks,1709129206065
3,65df36b58327c289d0a4d9a4,AAPL,,2024-02-01 14:33:00,184.300797,184.785202,184.205902,184.720200,12731,r,stocks,1709129206065
4,65df36b58327c289d0a4d9a5,AAPL,,2024-02-01 14:34:00,184.745193,184.974899,184.585403,184.745193,15014,r,stocks,1709129206065
5,65df36b58327c289d0a4d9a6,AAPL,,2024-02-01 14:35:00,184.865097,185.019897,184.705307,184.984894,17421,r,stocks,1709129206065
6,65df36b58327c289d0a4d9a7,AAPL,,2024-02-01 14:36:00,184.795197,184.925003,184.585403,184.685303,12392,r,stocks,1709129206066
7,65df36b68327c289d0a4d9a8,AAPL,,2024-02-01 14:37:00,184.740204,184.955002,184.640305,184.785202,4108,r,stocks,1709129206066
8,65df36b68327c289d0a4d9a9,AAPL,,2024-02-01 14:38:00,184.835098,184.964905,184.655304,184.705307,4765,r,stocks,1709129206066
9,65df36b68327c289d0a4d9aa,AAPL,,2024-02-01 14:39:00,184.715302,185.084793,184.715302,185.014893,5856,r,stocks,1709129206066
10,65df36b68327c289d0a4d9ab,AAPL,,2024-02-01 14:40:00,184.895004,185.094803,184.675293,185.074799,4660,r,stocks,1709129206067
11,65df36b68327c289d0a4d9ac,AAPL,,2024-02-01 14:41:00,185.074799,185.074799,184.835098,185.004898,4774,r,stocks,1709129206067
12,65df36b68327c289d0a4d9ad,AAPL,,2024-02-01 14:42:00,185.099792,185.404404,185.099792,185.269608,13719,r,stocks,1709129206067
13,65df36b68327c289d0a4d9ae,AAPL,,2024-02-01 14:43:00,185.294495,185.354401,185.174698,185.324493,8619,r,stocks,1709129206067
14,65df36b68327c289d0a4d9af,AAPL,,2024-02-01 14:44:00,185.309494,185.394394,185.084793,185.084793,6276,r,stocks,1709129206068
15,65df36b78327c289d0a4d9b0,AAPL,,2024-02-01 14:45:00,184.955002,184.984894,184.425598,184.595398,13746,r,stocks,1709129206068
16,65df36b78327c289d0a4d9b1,AAPL,,2024-02-01 14:46:00,184.665298,184.895004,184.665298,184.790207,8168,r,stocks,1709129206068
17,65df36b78327c289d0a4d9b2,AAPL,,2024-02-01 14:47:00,184.805099,184.805099,184.465607,184.715302,8540,r,stocks,1709129206068
18,65df36b78327c289d0a4d9b3,AAPL,,2024-02-01 14:48:00,184.695297,184.735199,184.505493,184.505493,3029,r,stocks,1709129206069
19,65df36b78327c289d0a4d9b4,AAPL,,2024-02-01 14:49:00,184.530502,184.685303,184.530502,184.635406,3705,r,stocks,1709129206069
20,65df36b78327c289d0a4d9b5,AAPL,,2024-02-01 14:50:00,184.535507,184.580399,184.465607,184.465607,3239,r,stocks,1709129206069
21,65df36b78327c289d0a4d9b6,AAPL,,2024-02-01 14:51:00,184.420593,184.685303,184.420593,184.685303,1322,r,stocks,1709129206069
22,65df36b78327c289d0a4d9b7,AAPL,,2024-02-01 14:52:00,184.650299,184.785202,184.575394,184.770203,1376,r,stocks,1709129206070
23,65df36b88327c289d0a4d9b8,AAPL,,2024-02-01 14:53:00,184.745193,184.884995,184.745193,184.884995,1615,r,stocks,1709129206070
24,65df36b88327c289d0a4d9b9,AAPL,,2024-02-01 14:54:00,184.805099,184.875107,184.765198,184.805099,3483,r,stocks,1709129206070
25,65df36b88327c289d0a4d9ba,AAPL,,2024-02-01 14:55:00,184.795197,184.875107,184.765198,184.800095,2577,r,stocks,1709129206070
26,65df36b88327c289d0a4d9bb,AAPL,,2024-02-01 14:56:00,184.765198,184.904999,184.765198,184.825104,4964,r,stocks,1709129206071
27,65df36b88327c289d0a4d9bc,AAPL,,2024-02-01 14:57:00,184.855103,184.884995,184.765198,184.825104,2279,r,stocks,1709129206071
28,65df36b88327c289d0a4d9bd,AAPL,,2024-02-01 14:58:00,184.815094,185.004898,184.815094,184.994904,2601,r,stocks,1709129206071
29,65df36b88327c289d0a4d9be,AAPL,,2024-02-01 14:59:00,185.064804,185.264603,185.004898,185.264603,4306,r,stocks,1709129206071
30,65df36b88327c289d0a4d9bf,AAPL,,2024-02-01 15:00:00,184.855103,184.974899,184.725204,184.785202,4661,r,stocks,1709129206072
31,65df36b98327c289d0a4d9c0,AAPL,,2024-02-01 15:01:00,184.974899,185.054794,184.974899,185.054794,555,r,stocks,1709129206072
32,65df36b98327c289d0a4d9c1,AAPL,,2024-02-01 15:02:00,185.164703,185.164703,184.999893,185.139694,3447,r,stocks,1709129206072
33,65df36b98327c289d0a4d9c2,AAPL,,2024-02-01 15:03:00,185.174698,185.344498,185.104797,185.344498,3655,r,stocks,1709129206072
34,65df36b98327c289d0a4d9c3,AAPL,,2024-02-01 15:04:00,185.339493,185.584198,185.339493,185.584198,2126,r,stocks,1709129206072
35,65df36b98327c289d0a4d9c4,AAPL,,2024-02-01 15:05:00,185.524200,185.634094,185.494293,185.604095,2373,r,stocks,1709129206073
36,65df36b98327c289d0a4d9c5,AAPL,,2024-02-01 15:06:00,185.534195,185.604095,185.509201,185.554199,1590,r,stocks,1709129206073
37,65df36b98327c289d0a4d9c6,AAPL,,2024-02-01 15:07:00,185.474304,185.733994,185.464294,185.589096,5744,r,stocks,1709129206073
38,65df36b98327c289d0a4d9c7,AAPL,,2024-02-01 15:08:00,185.569199,185.673996,185.534195,185.534195,9396,r,stocks,1709129206073
39,65df36b98327c289d0a4d9c8,AAPL,,2024-02-01 15:09:00,185.554199,185.688995,185.554199,185.659103,2274,r,stocks,1709129206074
40,65df36ba8327c289d0a4d9c9,AAPL,,2024-02-01 15:10:00,185.664001,185.664001,185.519196,185.544205,3895,r,stocks,1709129206074
41,65df36ba8327c289d0a4d9ca,AAPL,,2024-02-01 15:11:00,185.434296,185.484299,185.389404,185.484299,5995,r,stocks,1709129206074
42,65df36ba8327c289d0a4d9cb,AAPL,,2024-02-01 15:12:00,185.524200,185.554199,185.519196,185.554199,1298,r,stocks,1709129206074
43,65df36ba8327c289d0a4d9cc,AAPL,,2024-02-01 15:13:00,185.424393,185.484299,185.404404,185.444305,5158,r,stocks,1709129206074
44,65df36ba8327c289d0a4d9cd,AAPL,,2024-02-01 15:14:00,185.434296,185.544205,185.414398,185.499298,5757,r,stocks,1709129206075
45,65df36ba8327c289d0a4d9ce,AAPL,,2024-02-01 15:15:00,185.509201,185.714005,185.509201,185.714005,1833,r,stocks,1709129206075
46,65df36ba8327c289d0a4d9cf,AAPL,,2024-02-01 15:16:00,185.688995,185.743896,185.684006,185.684006,5257,r,stocks,1709129206076
47,65df36ba8327c289d0a4d9d0,AAPL,,2024-02-01 15:17:00,185.684006,185.684006,185.534195,185.539200,7072,r,stocks,1709129206076
48,65df36bb8327c289d0a4d9d1,AAPL,,2024-02-01 15:18:00,185.534195,185.599106,185.439301,185.454300,4172,r,stocks,1709129206076
49,65df36bb8327c289d0a4d9d2,AAPL,,2024-02-01 15:19:00,185.439301,185.539200,185.434296,185.519196,4699,r,stocks,1709129206076

### Transformações

Analisando os dados acima identificamos as seguintes transformações
1. **Particionamento de dados**: visando aumentar a performance, os dados serão particionados por _ticker_ (ação) e pelo dia (_timestamp_ formatado como YYYY-MM-DD). Para isso será adicionado uma coluna chamada _day_.
2. **Oscilação de valores**: baseando-se no campo _close_ (valor de fechamento do período atual), retirar seu valor do período anterior (função _lag_). Adicionando a coluna _osc_ com este valor.
3. **Percentual de Oscilação**: baseado no campo _osc_, criar uma coluna chamada _osc_per_ com o percentual da variação.
4. **Ajustar __timestamp__**: O campo *__ts_ms* que o horário em que o _kafka connector_ capturou o registro vem em formato _unix timestamp_ e precisa ser convertido para um formato mais amigável.

In [12]:
df_silver = %sql \
SELECT \
    _id, \
    ticker, \
    date_format(timestamp, "yyyy-MM-dd") as day, \
    description, \
    timestamp, \
    open, \
    high, \
    low, \
    close, \
    volume,\
    (close - LAG(close,1) OVER (PARTITION BY ticker ORDER BY timestamp)) AS osc, \
    (osc * 100.0 / LAG(close,1) OVER (PARTITION BY ticker ORDER BY timestamp)) as osc_per, \
    __op, \
    __collection, \
    (to_timestamp(__ts_ms / 1000) - interval 5 hours) as __ts_ms \
from bronze_stocks \
where ticker = "AAPL"

In [13]:
d = df_silver.fillna(value=0)

In [14]:
d.pandas_api()

                        _id ticker         day description           timestamp        open        high         low       close  volume       osc   osc_per __op __collection                 __ts_ms
0  65df36b58327c289d0a4d9a1   AAPL  2024-02-01             2024-02-01 14:30:00  183.666595  184.086105  183.606705  183.986206   35940  0.000000  0.000000    r       stocks 2024-02-28 09:06:46.064
1  65df36b58327c289d0a4d9a2   AAPL  2024-02-01             2024-02-01 14:31:00  184.051102  184.180893  183.796402  184.006195   12306  0.019989  0.010864    r       stocks 2024-02-28 09:06:46.064
2  65df36b58327c289d0a4d9a3   AAPL  2024-02-01             2024-02-01 14:32:00  183.966202  184.615402  183.806396  184.395706   10555  0.389511  0.211684    r       stocks 2024-02-28 09:06:46.065
3  65df36b58327c289d0a4d9a4   AAPL  2024-02-01             2024-02-01 14:33:00  184.300797  184.785202  184.205902  184.720200   12731  0.324493  0.175977    r       stocks 2024-02-28 09:06:46.065
4  65df36b58327c289d0a4d9a5   AAPL  2024-02-01             2024-02-01 14:34:00  184.745193  184.974899  184.585403  184.745193   15014  0.024994  0.013531    r       stocks 2024-02-28 09:06:46.065
5  65df36b58327c289d0a4d9a6   AAPL  2024-02-01             2024-02-01 14:35:00  184.865097  185.019897  184.705307  184.984894   17421  0.239700  0.129746    r       stocks 2024-02-28 09:06:46.065
6  65df36b58327c289d0a4d9a7   AAPL  2024-02-01             2024-02-01 14:36:00  184.795197  184.925003  184.585403  184.685303   12392 -0.299591 -0.161954    r       stocks 2024-02-28 09:06:46.066
7  65df36b68327c289d0a4d9a8   AAPL  2024-02-01             2024-02-01 14:37:00  184.740204  184.955002  184.640305  184.785202    4108  0.099899  0.054092    r       stocks 2024-02-28 09:06:46.066
8  65df36b68327c289d0a4d9a9   AAPL  2024-02-01             2024-02-01 14:38:00  184.835098  184.964905  184.655304  184.705307    4765 -0.079895 -0.043237    r       stocks 2024-02-28 09:06:46.066
9  65df36b68327c289d0a4d9aa   AAPL  2024-02-01             2024-02-01 14:39:00  184.715302  185.084793  184.715302  185.014893    5856  0.309586  0.167611    r       stocks 2024-02-28 09:06:46.066

[Showing only the first 10 rows x 15 columns]