In [1]:
!pip install --quiet delta-spark

In [2]:
from delta.tables import *

In [3]:
#
# Nome da aplicação Spark
#
APP_NAME="OptimizeLakeHouse"

In [4]:
%run StartSpark.ipynb
spark.conf.set("spark.databricks.delta.retentionDurationCheck.enabled", "False")

In [5]:
%%sql_display
show databases

  namespace
0   default
1    silver

In [6]:
delta_path, _ = paths("stocks", "StockData", "bronze")

In [7]:
delta_path

'abfss://nemesys-stream-101@nemesysdemo.dfs.core.windows.net/lakehouse/bronze/StockData_stocks'

In [7]:
%%time
deltaTable = DeltaTable.forPath(spark, delta_path)
df = deltaTable.optimize().executeCompaction()

CPU times: user 1.47 ms, sys: 3.05 ms, total: 4.52 ms
Wall time: 13 s

In [11]:
%%sql_display
create table tabela
using delta
location 'abfss://nemesys-stream-101@nemesysdemo.dfs.core.windows.net/lakehouse/bronze/StockData_stocks'

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `default`.`tabela` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

In [9]:
%%sql_display
show tables

  namespace tableName  isTemporary
0   default    tabela        False

In [12]:
%%sql_display
describe extended tabela

,col_name,data_type,comment
0,_id,string,None
1,ticker,string,None
2,description,string,None
3,timestamp,timestamp,None
4,open,double,None
5,high,double,None
6,low,double,None
7,close,double,None
8,volume,int,None
9,__op,string,None
10,__collection,string,None
11,__ts_ms,bigint,None
12,,,
13,# Detailed Table Information,,
14,Name,spark_catalog.default.tabela,
15,Type,EXTERNAL,
16,Location,abfss://nemesys-stream-101@nemesysdemo.dfs.cor...,
17,Provider,delta,
18,Owner,jovyan,
19,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [11]:
%%sql_display
describe extended tabela

,col_name,data_type,comment
0,_id,string,None
1,ticker,string,None
2,description,string,None
3,timestamp,timestamp,None
4,open,double,None
5,high,double,None
6,low,double,None
7,close,double,None
8,volume,int,None
9,__op,string,None
10,__collection,string,None
11,__ts_ms,bigint,None
12,,,
13,# Detailed Table Information,,
14,Name,spark_catalog.default.tabela,
15,Type,EXTERNAL,
16,Location,abfss://nemesys-stream-101@nemesysdemo.dfs.cor...,
17,Provider,delta,
18,Owner,jovyan,
19,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [12]:
%%sql_display
select count(*) from tabela

   count(1)
0      8822

In [27]:
%%time
%%sql_display
VACUUM tabela RETAIN 4 HOURS

CPU times: user 13.6 ms, sys: 3.22 ms, total: 16.8 ms
Wall time: 1min 12s

                                                path
0  abfss://nemesys-stream-101@nemesysdemo.dfs.cor...

In [13]:
%%sql_display
select count(*) from tabela

   count(1)
0      8822

In [15]:
%%sql_display
describe extended tabela

,col_name,data_type,comment
0,_id,string,None
1,ticker,string,None
2,description,string,None
3,timestamp,timestamp,None
4,open,double,None
5,high,double,None
6,low,double,None
7,close,double,None
8,volume,int,None
9,__op,string,None
10,__collection,string,None
11,__ts_ms,bigint,None
12,,,
13,# Detailed Table Information,,
14,Name,spark_catalog.default.tabela,
15,Type,EXTERNAL,
16,Location,abfss://nemesys-stream-101@nemesysdemo.dfs.cor...,
17,Provider,delta,
18,Owner,jovyan,
19,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",

In [16]:
%%sql_display
create database silver

Empty DataFrame
Columns: []
Index: []

In [17]:
%%sql_display
show databases

  namespace
0   default
1    silver

In [18]:
%%sql_display
create table if not exists silver.ticks(
    _id string,
    ticker string,
    description string
)
using delta
location 'abfss://nemesys-stream-101@nemesysdemo.dfs.core.windows.net/lakehouse/teste/StockData_tickers'

Empty DataFrame
Columns: []
Index: []

In [9]:
%%sql_display
use default

Empty DataFrame
Columns: []
Index: []

In [10]:
%%sql_display
show tables

  namespace tableName  isTemporary
0   default    tabela        False

In [6]:
%%sql_display
use silver

Empty DataFrame
Columns: []
Index: []

In [7]:
%%sql_display
show tables

  namespace tableName  isTemporary
0    silver     ticks        False

In [8]:
%%sql_display
describe extended ticks

,col_name,data_type,comment
0,_id,string,None
1,ticker,string,None
2,description,string,None
3,,,
4,# Detailed Table Information,,
5,Name,spark_catalog.silver.ticks,
6,Type,EXTERNAL,
7,Location,abfss://nemesys-stream-101@nemesysdemo.dfs.cor...,
8,Provider,delta,
9,Owner,jovyan,
10,Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersi...",